# Archives
*.zip
*.tar.gz
*.xlsx

# Environment/editor
config.env
.vscode

# Analysis outputs
analysis_cache
analysis_files
/Rplots.pdf

# Containers
*.sif

# Snakemaker
.snakemake/
.cache/

# Python
__pycache__/
.ipython/

# Quarto / misc
.quarto/